<!-- <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Funcionarios cadastrados</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px">
            <button class="btn btn-outline-success" (click)="openForm()">
              Add
            </button>
          </div>
        </div>
      </div>
      table
      <div [hidden]="cadastrando" class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Ações</th>
              <th>Id</th>
              <th>Cpf</th>
              <th>Nome</th>
              <th>Idade</th>
              <th>Endereço</th>
              <th>Telefone</th>
              <th>Turno</th>
              <th>Função</th>
              <th>Salario</th>
            </tr>
          </thead>
          <tbody *ngIf="funcionarios">
            <tr *ngFor="let funcionario of funcionarios">
              <td>
                <button class="btn btn-outline-primary btn-sm" (click)="updateForm(funcionario)">
                  <i class="nav-icon fas fa-edit"></i>
                  Edit
                </button>
                <button class="btn btn-outline-danger btn-sm" (click)="delete(funcionario)">
                  Delete
                </button>
              </td>
              <td>{{ funcionario.id }}</td>
              <td>{{ funcionario.cpf }}</td>
              <td>{{ funcionario.nome }}</td>
              <td>{{ funcionario.idade }}</td>
              <td>{{ funcionario.endereco }}</td>
              <td>{{ funcionario.telefone }}</td>
              <td>{{ funcionario.turno }}</td>
              <td>{{ funcionario.funcao }}</td>
              <td>{{ funcionario.salario }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="funcionario" [hidden]="!cadastrando" class="card-body ">
        <div class="row mt-2">
          <div class="col"></div>
          <div class="col-4">
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-2">
                        <label for="id">Id:</label>
                        <input type="number" name="id" class="form-control" [(ngModel)]="funcionario.id" placeholder="id"
                          disabled />
                      </div>
                      <div class="col">
                        <label for="cpf">
                          <font color="red">*</font> Cpf:
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="funcionario.cpf" placeholder="cpf"
                          required />
                      </div>
                      <div class="col-2">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" [(ngModel)]="funcionario.nome" placeholder="nome" />
                      </div>
                      <div class="col-2">
                        <label for="idade">Idade:</label>
                        <input type="number" class="form-control" [(ngModel)]="funcionario.idade" placeholder="idade" />
                      </div>
                      <div class="col-2">
                        <label for="Endereco">Endereço:</label>
                        <input type="text" class="form-control" [(ngModel)]="funcionario.endereco"
                          placeholder="Endereço" />
                      </div>
                      <div class="col-2">
                        <label for="Telefone">Fone:</label>
                        <input type="text" class="form-control" [(ngModel)]="funcionario.telefone" placeholder="Fone" />
                      </div>
                      <div class="col-2">
                        <label for="Telefone">Turno:</label>
                        <input type="text" class="form-control" [(ngModel)]="funcionario.turno" placeholder="Turno" />
                      </div>
                      <div class="col-2">
                        <label for="Telefone">Função:</label>
                        <input type="text" class="form-control" [(ngModel)]="funcionario.funcao" placeholder="Função" />
                      </div>
                      <div class="col-2">
                        <label for="Telefone">Salario:</label>
                        <input type="text" class="form-control" [(ngModel)]="funcionario.salario"
                          placeholder="Salario" />
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button [hidden]="funcionario.id" class="btn btn-outline-success" (click)="create()">
                      Add
                    </button>
                    <button [hidden]="!funcionario.id" class="btn btn-outline-success" (click)="update()">
                      Update
                    </button>
                    <button class="btn btn-outline-danger" (click)="closeForm()">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->